<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>WordPress Language Packs Composer Repository</title>
    <style>{% include 'styles.css' %}</style>
    <script>
    {% include 'ga.js' %}

    /* If we are in github.io redirect to https */
    if ( window.location.host.substr( -10 ) === '.github.io' && window.location.protocol !== 'https:' ) {
        window.location.protocol = 'https:';
    }
    </script>
</head>
<body>

<div id="doc" class="yui-t7 m-1-0">
    <div id="hd" class="m-1-0 t-c">
        <h1>Composer WordPress Language Packs</h1>

        <p>
            WordPress translations as Composer packages.<br>
            This is composer compatible wrapper for <a href="https://codex.wordpress.org/WordPress.org_API">api.wordpress.org</a>.
        </p>

        <p class="m-1-0 t-c">
            <a href="https://github.com/wp-languages/wp-languages.github.io/stargazers/" target="_blank">
                <img src="https://img.shields.io/github/stars/wp-languages/wp-languages.github.io.svg?style=social&label=Star&maxAge=2592000"
                     alt="GitHub Stars">
            </a>

            <a href="https://github.com/wp-languages/wp-languages.github.io/graphs/contributors/" target="_blank">
                <img src="https://img.shields.io/github/contributors/wp-languages/wp-languages.github.io.svg" alt="GitHub Contributors">
            </a>

            <a href="https://discourse.roots.io/t/install-update-wordpress-languages-with-composer/2021" target="_blank">
                <img src="https://img.shields.io/badge/chat-discourse.roots.io-informational" alt="Chat in discourse.roots.io">
            </a>

            <a href="https://mit-license.org/" target="_blank">
                <img src="https://img.shields.io/badge/License-MIT-blue.svg" alt="MIT Licensed">
            </a>
        </p>

        <hr class="m-1-0">

        <p class="m-1-0">
            These packages use
            <a href="https://packagist.org/packages/koodimonni/composer-dropin-installer" target="_blank">koodimonni/composer-dropin-installer</a>
            <img src="https://img.shields.io/packagist/dt/koodimonni/composer-dropin-installer" alt="Packagist downloads total">
            for installing multiple packages into same directory.
        </p>
    </div>

    <hr class="m-1-0">

    <div id="bd">
        <h2>How to use</h2>

        <div class="yui-g">
            Add the following configurations to the <em>composer.json</em>:
            <pre class="m-1-0"><code>{
    "repositories": [
        {
            "type": "composer",
            "url": "{{ url }}",
            "only": [
                "koodimonni-language/*",
                "koodimonni-plugin-language/*",
                "koodimonni-theme-language/*"
            ]
        }
    ],
    "require": {
        "koodimonni-language/fi": "*",
        "koodimonni-language/fr_FR": "*"
    },
    "extra": {
        "dropin-paths": {
            "htdocs/wp-content/languages/": ["vendor:koodimonni-language"],
            "htdocs/wp-content/languages/plugins/": ["vendor:koodimonni-plugin-language"],
            "htdocs/wp-content/languages/themes/": ["vendor:koodimonni-theme-language"]
        }
    }
}</code></pre>

            <hr class="m-1-0">

            <h2>Packages</h2>

            <div class="stats m-1-0">
                <div id="repos">
                    <p>The repo contains: <strong>{{ packages|length }} packages</strong>.</p>
                </div>
                <div id="lastupdate">
                    Last updated:
                    <time class="s" datetime="{{ "now"|date("d/m/Y", "Europe/Helsinki") }}" title="{{ "now"|date(constant('\DateTime::RSS'), "Europe/Helsinki") }}">
                        {{ "now"|date(constant('\DateTime::RSS'),"Europe/Helsinki") }}
                    </time>
                </div>
            </div>

            <label class="filter">
                Filter by package name:
                <input type="search" id="search" autocomplete="off" autofocus />
            </label>

            {% for name, package in packages %}
                {% include 'package.html.twig' %}
            {% endfor %}

        </div>
    </div>
    <div id="ft">
        <p>
            <small>
                This Composer Repository is proudly powered by <a href="https://github.com/composer/satis">Satis</a> -
                Last updated: {{ "now"|date(constant('\DateTime::ISO8601'),"Europe/Helsinki") }}
            </small>
        </p>
    </div>
</div>

<script>
{% include 'jquery-2.0.0.js' %}
{% include 'moment-2.4.0.js' %}
{% include 'footer.js' %}

var $lastUpdate = $( '#lastupdate time' );

function updateDate() {
    $lastUpdate.text( moment( '{{ "now"|date(constant('\DateTime::ISO8601'),"Europe/Helsinki") }}' ).fromNow() );
}

setInterval( updateDate, 5000 );
updateDate();
</script>
</body>
</html>
